@use '../utils/variables' as *;

html {
 font-size: 62.5%;
 scroll-behavior: smooth;
}

body {
 font-family: $font-primary;
 background-color: $bg-primary;
 color: $text-primary;
 font-size: 1.6rem;
 line-height: 1.6;
}

main {
    padding-top: 80px;
}

img {
 max-width: 100%;
 display: block;
}

ul {
 list-style: none;
}

h1,
h2,
h3 {
 color: $text-primary;
 line-height: 1.2;
 margin-bottom: 1rem;
}

h1 {
 font-size: clamp(3.2rem, 5vw, 5rem);
}

h2 {
 font-size: clamp(2.8rem, 4vw, 4rem);
}

h3 {
 font-size: 2rem;
}

a {
 text-decoration: none;
 color: $accent;
 transition: all $transition-speed ease-in-out;

 &:hover {
  color: $text-light;
 }
}